*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTc5ODc5NjczNjEyNzM5OTI4/osama-bin-laden-gettyimages-1171315.jpg') no-repeat; background-size:cover;background-position:center; 
}
#timer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: chartreuse;
    text-align: center;
    margin: 60px 30px;

}
button{
    background-color: cornflowerblue;
    font-weight: 600;
    cursor: pointer;
    font-size:30px;
    border-radius: 3px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 150px;
    height: 40px;
}
button:active{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}
#set{
    width:max-content;
    margin-right: 60px;
    padding: 0 18px;
}

@media screen and (max-width:500px){
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}