*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}
#div1{
    opacity: 1;
    transition: 0s 180s;

}
#div1:hover{
    
    transition: 0s;
    opacity: 0;  
}


