*{
    margin: 0;
    padding: 0;
}
body{
    transition: 1s ease;
}
button{
    display: block;
    cursor: pointer;
    background-color: black;
    padding: 20px;
    font-size: larger;
    color: white;
    text-align: center;
    margin: 20px;
    margin-left: 400px;
}
.container{
    transition: 1s ease;
}
.sidenav{
    background-color: black;
    position: fixed;
    top:0;
    left: 0;
    transition: 1s ease;
    width: 0px;
    height: 100vh;
    float: left;
    z-index: 69;
}

.sign{
    display: block;
    display: flex;
    justify-content: flex-end;
    color: white;
    margin: 20px;
}
.text{
    width: max-content;
    cursor: pointer;
}
.sidenav a{
    display: block;
    padding: 20px;
    color: white;
    margin: 10px;
    font-size: larger;
    text-align: left;
    text-decoration: none;
}